@model EfentHandler.Domain.Model.availability

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>availability</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AvailabilityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
